.tweetFeed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-bg-color);
  min-width: fit-content;
  overflow-y: scroll;

  /* Hide scrollbar for IE and Forefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scroll bar  */
.tweetFeed::-webkit-scrollbar {
  display: none;
}
